/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%; /* 横幅 100% */
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px; /* 横幅960px */
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto; /* 要素の中央揃え */
  padding: 50px 0; /* 上下に50px、左右に0pxの内側余白 */
}

.container {
  width: 300px;
  margin-right: 30px; /* 領域の右側余白 */
  padding: 10px;
  position: relative; /* 基準となる親要素 */
  background-color: #EEEEEE;

  /* 柔らかい印象になり、デザイン的に洗練される */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* 領域の右側余白　1番最後のcontainerは余白を設けない */
.container:last-child {
  margin-right: 0;
}

/* つまり、containerから左上に寄せる　親がないと自動的に親はbodyになる */
.box_name {
  position: absolute; /* 子要素 */
  top: 0;
  left: 0; /* 左上に寄せ */
  background-color: #ff9a4b;
  color: #fff;

  /* 目立たせつつも、視認性アップ＆装飾として映える */
  padding: 4px 10px;
  font-size: 14px;
  border-bottom-right-radius: 6px;
  font-weight: bold;
}

.box_img, .img1, .img2, .img3 {
  height: 150px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: bottom;

  /* カードと統一感が出る */
  border-radius: 6px;
}

.img1 {
  background-image: url(img/flow01.png);
}
.img2 {
  background-image: url(img/flow02.png);
}
.img3 {
  background-image: url(img/flow03.png);
}

.box_title {
  margin: 15px 0 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color:#AAAAAA;
}